<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>UTAHospCaseInvest</display-name>
   <servlet>
    <servlet-name>WebServlet</servlet-name>
    <servlet-class>java.com.servlet.WebServlet</servlet-class>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>WebServlet</servlet-name>
    <url-pattern>/WebServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CuSumServlet</servlet-name>
    <servlet-class>java.com.servlet.CuSumServlet</servlet-class>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>CuSumServlet</servlet-name>
    <url-pattern>/CuSumServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>Database for ABC Analysis.</description>
    <res-ref-name>jdbc/project1</res-ref-name>
    <res-type>javax.sql.ConnectionPoolDataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
</web-app>